
*, html {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    display: grid;
    grid-template-columns: 250px auto;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.left {
    background-color: rgb(245, 245, 245);
}

.title {
    margin: 16px;
}

.container-form {
    margin: 16px;
}

.row-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    margin-bottom: 16px;
}

.row-form input {
    width: 100%;
}

.bt-add {
    width: 100%;
}

.list-points {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}

.row-point {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    margin-bottom: 16px;
}

.point-l {
    text-align: right;
}

.point-r {
    text-align: left;
}

.container-image {
    width: 100%;
    height: 100%;
}