<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="viewer.min.css">
    <link rel="stylesheet" href="style.css">

    <title>Dynamic 2D Range Tree</title>
</head>

<body>
    <div class="left">
        <h1 class="title">Points</h1>
        <select id="treeType" class="tree-type" onchange="afterSelection()">
            <option value="form2DRangeTree" >Dynamic 2D Range Tree</option>
            <option value="formRedBlackTree" selected>Dynamic Red Black Tree</option>
          </select>
        <form id="formRedBlackTree" class="container-red-black-tree">
            <input type="number" name="k" value="0">
            <button class="bt-add" type="button" onclick="addRedBlackTree()">ADD</button>
        </form>
        <form id="form2DRangeTree" class="container-2d-range-tree" style="display: none;">
            <div class="row-form">
                <input type="number" name="x" value="0">
                <input type="number" name="y" value="0">
            </div>
            <button class="bt-add" type="button" onclick="add2DRangeTree()">ADD</button>
        </form>
        <div id="listPoints" class="list-points"></div>
    </div>
    <div class="right">
        <div class="container-image">
            <img id="image" src="" style="display: none;">
        </div>
    </div>

    <script src="viewer.min.js"></script>
    <script src="script.js"></script>
</body>

</html>