<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="viewer.min.css">
    <link rel="stylesheet" href="style.css">

    <title>Dynamic 2D Range Tree</title>
</head>

<body>
    <div class="left">
        <h1>Points</h1>
        <form id="formPoints" class="row-add">
            <input type="number" name="x" value="0">
            <input type="number" name="y" value="0">
            <div class="bt-add" onclick="add()">ADD</div>
        </form>
        <div id="listPoints" class="list-points">
            <div class="row-point">
                <div class="point">1</div>
                <div class="point">1</div>
            </div>
            <div class="row-point">
                <div class="point">1</div>
                <div class="point">1</div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="container-image">
            <img id="image" src="" style="display: none;">
        </div>
    </div>

    <script src="viewer.min.js"></script>
    <script src="script.js"></script>
</body>

</html>